.css-dk5t4l-MuiPaper-root-MuiAppBar-root {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.css-11lefxm-MuiButtonBase-root-MuiButton-root:hover {
  color: #218aff;
}
.clicked {
  color: #218aff;
}
